*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: white;
  }
  
  :root {
    --hue-neutral: 350;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(var(--hue), 100%, 20%); */
    background-color: hsl(var(--hue), 80%, 30%);
    
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .question-body {
    font-size: 2rem;
    text-align: center;
    color: white;
  }

  .container {
    background: rgba(217, 214, 228, 0.12);
    border-radius: 10px;
    padding: 5px 20px 50px;
    width: auto;
    max-width: 500px;
    margin: 0 auto 214px;
    text-align: center;
  }
  
  .btn-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 15px 0px 0px 0px;
    padding-top: 30px;
    
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 0;
    background-color: hsl(var(--hue), 100%, 50%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.72);
    margin: 0;
    padding: 5px;
    position: relative;
    width: 100%;
    color: #000;
    font-size: 1.5rem;
    justify-content: center;
  }

  .btn:hover {
    color: #fff;
    background-color: rgb(201, 42, 42);
    color: white;
    box-shadow: rgba(255, 255, 255, 0.082) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .btn:active {
    box-shadow: none;
    transform: translateY(0);
  }
  

  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    
    font-weight: bold;
    padding: 20px 30px;

    /* background-image: linear-gradient(135deg, #e22929, #615454); */
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    padding: 4px; 
    width: 7em;
    transition: all 0.2s;
    
  }


  .start-btn, .next-btn :hover {
    color: #fff;
    transition: delay 3ms;;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;

  }
  
  .hide {
    display: none;
  }


